<div id="container-sightings">
  <h2>Calculate Distance:</h2>

  <?php if (!empty($distance)) { ?>
    <pre>
      <strong>Miles</strong>: <?= number_format($distance['m'], 3); ?><br />
      <strong>Kilometers</strong>: <?= number_format($distance['k'], 3); ?><br />
      <strong>Nautical Miles</strong>: <?= number_format($distance['nm'], 3); ?>
    </pre>
    <br />
  <?php } ?>

  <form action="/stun/calculateDistance" method="post">
    <div class="sighting_form">
      <div class="sighting_id1">
        <label for="s1db">Sighting #1</small></label>
        <select name="s1db" id="s1db">
          <?php foreach($sightings as $k => $v) { ?>
          <option value="<?=$v->id?>" <?= (!empty($post) && $post['s1db'] == $v->id) ? 'SELECTED' : '' ?>><?=$v->id?></option>
          <?php } ?>
        </select>
      </div>

      <div class="sighting_id2">
        <label for="s2db">Sighting #2</small></label>
        <select name="s2db" id="s2db">
          <?php foreach($sightings as $k => $v) { ?>
          <option value="<?=$v->id?>" <?= (!empty($post) && $post['s2db'] == $v->id) ? 'SELECTED' : '' ?>><?=$v->id?></option>
          <?php } ?>
        </select>
      </div>
    </div>

    <div id="auth-actions">
      <button class="btn btn-success m-t-20" type="submit">Calculate</button>
    </div>
  </form>

</div>
