<div id="container-sightings">
  <h2>Edit Sighting:</h2>

  <form action="/stun/processSighting/<?= $sighting->id ?>" method="post">
    <div class="sighting_form">
      <div class="sighting_latitude">
        <label for="sighting_latitude">Latitude (*)</label>
        <input id="sighting_latitude" name="latitude" type="text" value="<?= $sighting->latitude ?>" required />
      </div>

      <div class="sighting_longitude">
        <label for="sighting_longitude">Longitude (*)</label>
        <input id="sighting_longitude" name="longitude" type="text" value="<?= $sighting->longitude ?>" required />
      </div>

      <div class="sighting_description">
        <label for="sighting_description">Description</label>
        <textarea id="sighting_description" name="description" /><?= $sighting->description ?></textarea>
      </div>

      <div class="sighting_tags">
        <label for="sighting_tags">Tags (*)<br /><small>comma separated</small></label>
        <input id="tags" name="tags" type="text" value="<?= $sighting->tags ?>" />
      </div>

      <div class="sighting_dateSighted">
        <label for="sighting_dateSighted">Date (*)</label>
        <input id="dateSighted" name="dateSighted" type="datetime-local" value="<?= date("Y-m-d\TH:i:s", strtotime($sighting->dateSighted)) ?>" step="1" required />
      </div>
    </div>

    <div id="auth-actions">
      <small>* = required</small><br /><br />
      <button class="btn btn-success m-t-20" type="submit">Save</button>
    </div>
  </form>

</div>
