<div id="container-sightings">
  <h2>All Sightings</h2>

  <?php if (!empty($sightings)) { ?>

  <div class="log-list">
    <div class="log-body">
      <a href="/stun/listAll">First</a>&nbsp;|&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->previous ?>">&lt;&lt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->next ?>">&gt;&gt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->last ?>">Last</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <small><?php echo('Page ' . $sightings->current . ' of ' . $sightings->getLast()); ?></small>
      <br /><br />
    </div>


    <div class="log-body">
      <table class="table table-striped" id="log_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Description</th>
            <th class="text-center">Lat / Lon</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Date</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($sightings->items as $s) { ?>
          <tr class="text-center">
            <td class="text-left"><a href="/stun/editSighting/<?= $s['id'] ?>"><?= $s['id'] ?></a></td>
            <td class="text-left"><?= substr($s['description'], 0, 100) ?>&nbsp;...</td>
            <td class="text-left"><?= $s['latitude'] ?><br /><?= $s['longitude'] ?></td>
            <td class="text-left"><?= substr($s['tags'], 0, 100) ?>&nbsp;...</td>
            <td class="text-left"><?= date('m-d-Y H:i:s', strtotime($s['dateSighted'])) ?></td>
            <td class="text-left"><a href="/stun/deleteSighting/<?= $s['id'] ?>">delete</a></td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>


    <div class="log-body">
      <br /><br />
      <a href="/stun/listAll">First</a>&nbsp;|&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->previous ?>">&lt;&lt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->next ?>">&gt;&gt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/stun/listAll?page=<?= $sightings->last ?>">Last</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <small><?php echo('Page ' . $sightings->current . ' of ' . $sightings->getLast()); ?></small>
    </div>
  </div>


  <?php } else { ?>
    There are currently no sightings listed.
  <?php } ?>
</div>
