<div id="container-sightings">
  <h2>See all sightings within a radius:</h2>

  <form action="/stun/nearbySightings" method="post">
    <div class="sighting_form">
      <div class="sighting">
        <label for="sighting">Sighting</small></label>
        <select name="sighting" id="sighting">
          <?php foreach($sightings as $k => $v) { ?>
          <option value="<?=$v->id?>" <?= (!empty($post) && $post['sighting'] == $v->id) ? 'SELECTED' : '' ?>><?=$v->id?></option>
          <?php } ?>
        </select>
      </div>

      <div class="radius">
        <label for="radius">Sighting #2</small></label>
        <select name="radius" id="radius">
          <option value="1" <?= (!empty($post) && $post['radius'] == "1") ? 'SELECTED' : '' ?>>1 miles</option>
          <option value="5" <?= (!empty($post) && $post['radius'] == "5") ? 'SELECTED' : '' ?>>5 miles</option>
          <option value="10" <?= (!empty($post) && $post['radius'] == "10") ? 'SELECTED' : '' ?>>10 miles</option>
          <option value="25" <?= (!empty($post) && $post['radius'] == "25") ? 'SELECTED' : '' ?>>25 miles</option>
          <option value="50" <?= (!empty($post) && $post['radius'] == "50") ? 'SELECTED' : '' ?>>25 miles</option>
          <option value="100" <?= (!empty($post) && $post['radius'] == "100") ? 'SELECTED' : '' ?>>100 miles</option>
        </select>
      </div>
    </div>

    <div id="auth-actions">
      <button class="btn btn-success m-t-20" type="submit">Search</button>
    </div>
  </form>


  <?php if (!empty($origin)) { ?>
    <h2>Results:</h2>

    <div class="log-body">
      <h4>Origin:</h4>
      <table class="table table-striped" id="log_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Description</th>
            <th class="text-center">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td class="text-left"><a href="/stun/editSighting/<?= $origin['id'] ?>"><?= $origin['id'] ?></a></td>
            <td class="text-left"><?= $origin['description'] ?></td>
            <td class="text-left"><?= date('m-d-Y H:i:s', strtotime($origin['dateSighted'])) ?></td>
          </tr>
        </tbody>
      </table>
    </div>

    <?php if (!empty($results)) { ?>
    <div class="log-body">
    <h4>Within <?= $radius ?> miles:</h4>
      <table class="table table-striped" id="log_list">
        <thead>
          <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Description</th>
            <th class="text-left">Date</th>
            <th class="text-left">Miles away</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($results as $s) { ?>
          <tr class="text-center">
            <td class="text-left"><a href="/stun/editSighting/<?= $s['id'] ?>"><?= $s['id'] ?></a></td>
            <td class="text-left" width="400"><?= substr($s['description'], 50) ?> ...</td>
            <td class="text-left"><?= date('m-d-Y H:i:s', strtotime($s['dateSighted'])) ?></td>
            <td class="text-left"><?= number_format($s['dist']['m'], 3) ?> miles</td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
    <?php } ?>
  <?php } ?>

</div>
