<div id="container-sightings">
  <h2>Search by Tags:</h2>

  <form action="/stun/tagSearch" method="post">
    <div class="sighting_form">
      <div class="search">
        <label for="searchTags">Tags</small></label>
        <select name="searchTags[]" id="searchTags" size="10" style="width: 150px;" multiple>
          <?php foreach($tags as $k => $v) { ?>
          <option value="<?=$v?>" <?= (!empty($post) && in_array($v, $post['searchTags'])) ? 'SELECTED' : '' ?>><?=$v?></option>
          <?php } ?>
        </select>
      </div>

      <div class="searchParam">
        <label for="searchParam">Include</small></label>
        <select name="searchParam" id="searchParam">
          <option value="OR" <?= (!empty($post) && $post['searchParam'] == "OR") ? 'SELECTED' : '' ?>>Search each tag individually</option>
          <option value="AND" <?= (!empty($post) && $post['searchParam'] == "AND") ? 'SELECTED' : '' ?>>Search all tags</option>
        </select>
      </div>
    </div>

    <div id="auth-actions">
      <button class="btn btn-success m-t-20" type="submit">Search</button>
    </div>
  </form>


  <?php if (!empty($results)) { ?>
    <h2>Results:</h2>

    <div class="log-body">
      <table class="table table-striped" id="log_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Description</th>
            <th class="text-center">Lat / Lon</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Date</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($results as $s) { ?>
          <tr class="text-center">
            <td class="text-left"><a href="/stun/editSighting/<?= $s['id'] ?>"><?= $s['id'] ?></a></td>
            <td class="text-left"><?= $s['description'] ?></td>
            <td class="text-left"><?= $s['latitude'] ?><br /><?= $s['longitude'] ?></td>
            <td class="text-left"><?= $s['tags'] ?></td>
            <td class="text-left"><?= date('m-d-Y H:i:s', strtotime($s['dateSighted'])) ?></td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
  <?php } ?>

</div>
