BODY {
  width: 99%;
  height: 99%;
}

A {
  color: #6633FF;
}

A:HOVER {
  color: #FF9966;
}

.smallText {
  font-size: 0.65em;
}

.btn-disabled {
  background-color: #666666;
  color: #CCCCCC;
}

#page-content .pagelist-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
}

#page-content .pagelist-body .pagelist-info, 
#page-content .pagelist-body .pagelist-links {
  font-size: 1.2em;
}

#page-content form div.error,
.log-list .log-body .error{
  color: #A94442;
  background-color: #F2DEDE !important;
}

.log-list .log-body .info {
  color: #31708F;
  background-color: #D9EDF7 !important;
}

.log-list .log-body .warn {
  color: #8A6D3B;
  background-color: #FCFBE3 !important;
}


#container {
  margin: 0px 5px 0px 5px;
  height: 100%;
}

#container #top-nav {
  display: flex;
  flex-direction: columns;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

#container #top-nav ul {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
}

#container #top-nav ul li {
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  width: 165px;
  height: 100%;
  list-style-type: none;
  margin-right: -1px;
  padding-left: 45px;
  border: 1px solid #FF9966;
  text-align: left;
  background-image: url("/images/dap-icon.png");
  background-repeat: no-repeat;
}

#container #page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: ;
  border: 1px solid #CCCCCC;
}

#container #page #page-content .login_header {
  padding-left: 150px;
}

#container #page #page-content .login_body {
  padding-left: 150px;
}

#container #page #page-content INPUT[type="text"],
#container #page #page-content INPUT[type="password"] {
  width: 450px;
}

#container #page #page-content INPUT[type="checkbox"] {
  width: 30px;
}

#container #page #page-content TEXTAREA {
  width: 450px;
  height: 50px;
}

#container #page #page-content .report_info TEXTAREA {
  width: 450px;
  height: 150px;
}

#container #page #left-nav {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  border-right: 1px solid #FF9966;
  padding-top: 8px;
  margin-right: -1px;
}

#container #page #left-nav ul {
  margin-top: 0px;
  margin-bottom: 25px;
}

#container #page #left-nav ul ul.subnav {
  margin-top: 0px;
  margin-left: -25px;
  margin-bottom: 5px;
}

#container #page #page-content {
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 100%;
  border-left: 1px solid #FF9966;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 15px;
}

#container #page #page-content FORM {
  padding-bottom: 15px;
}

#container #page #page-content FORM LABEL {
  width: 125px;
  padding: 0px 15px 15px 10px;
}

#container #page #page-content FORM.search LABEL {
  width: 225px;
  padding: 0px 0px 0px 0px;
}

#container #page #page-content .btn-right {
  float: right;
  margin-top: 15px;
}

#container #page #page-content .fake_link {
  color: green;
  text-decoration: underline;
}

#container #page #page-content .fake_link:HOVER {
  color: maroon;
  text-decoration: none;
  cursor: pointer;
}

#container #page #page-content .image_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

#container #page #page-content .image_modal .close {
  font-size: 50px;
  color: white;
  margin-right: 50px;
}

#container #page #page-content .image_modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
