<strong>Sightings</strong>
<ul>
    <li>
        <a href="/stun/listAll">
            List All Sightings
        </a>
    </li>

    <li>
        <a href="/stun/addSighting">
            Add a New Sighting!
        </a>
    </li>
</ul>

<strong>Additional Links</strong>
<ul>
    <li>
        <a href="/stun/calculateDistance">
            Distance Calculator
        </a>
    </li>

    <li>
        <a href="/stun/tagSearch">
            Search by Tags
        </a>
    </li>

    <li>
        <a href="/stun/nearbySightings">
            Search nearby sightings
        </a>
    </li>
</ul>
