<!DOCTYPE html>
<html>
    <?php $this->partial('partial/header'); ?>

    <?php $this->assets->outputCss(); ?>
    <?php $this->assets->outputJs(); ?>

    <body>
        <div id="container">
            <?php $this->partial('partial/top'); ?>

            <div id="page">
                <?php $this->partial('partial/side'); ?>

                <div id="page-content">
                    <?php $this->flashSession->output(); ?>

                    <?= $this->getContent(); ?>
                </div>
            </div>
        </div>

        <?php $this->partial('partial/footer'); ?>
    </body>
</html>
